<div id="bannersCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bannersCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#bannersCarousel" data-slide-to="1"></li>
        <li data-target="#bannersCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item" ng-class="{'active': banner.index == 1}" ng-repeat="banner in banners">
            <img src="{{banner.imgSrc}}" alt="{{banner.imgAlt}}" class="img-responsive carouselZoom">
            <div class="carousel-caption">
                <h1>{{banner.captionTitle}}</h1>
                <p>{{banner.captionDescription}}</p>
            </div>
        </div>
    </div>
</div>
<section id="aboutUs">
    <div class="container">
        <header>
            <h1 class="text-center"><span class="dottedBorder blackText">{{aboutUs.title}}</span></h1>
            <hr>
        </header>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="text-left">{{aboutUs.subTitle}}</h2>
                <p class="text-justify">{{aboutUs.content}}</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <img src="{{aboutUs.imgSrc}}" alt="{{aboutUs.imgAlt}}" class="img-responsive">
            </div>
        </div>
    </div>
<div class="aboutUsBackground"></div>
</section>
<section id="onlineStore">
    <div class="container">
        <header>
            <h1 class="text-center"><span class="dottedBorder blackText">{{onlineStore.title}}</span></h1>
            <hr>
        </header>
        <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 productMargin" ng-repeat="product in onlineStore.products">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="javascript:void(0)" ng-click="ShowProductDetails(product.productId)">
                        <div class="img">
                                <img src="{{product.imgSrc}}" alt="{{product.imgAlt}}" class="img-responsive">
                        </div>
                        <div class="info">
                            <div class="info-back">
                                <h3>{{product.productName}}</h3>
                                <p>Ver Detalles</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
          
        <!-- <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 productMargin" ng-repeat="product in onlineStore.products">
                <img src="{{product.imgSrc}}" alt="{{product.imgAlt}}" class="img-responsive img-circle">
            </div>
        </div> -->
    </div>
</section>
<section id="courses" style="background-image: url({{courses.backgroundUrl}});">
    <div class="container">
        <header>
            <h1 class="text-center"><span class="dottedBorder orangeText">{{courses.title}}</span></h1>
        </header>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <p class="text-center whiteText">{{courses.content}}</p>
                <p class="text-center">
                    <md-button class="md-raised md-primary">
                        Schedule
                    </md-button>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="contacts" style="background-image: url({{contacts.imgSrc}});">
    <div class="row">
        <div class="contactsMargin">
            <h1 class="text-left"><span class="dottedBorder orangeText">{{contacts.title}}</span></h1>
            <md-button class="md-raised md-primary" ng-click="OpenContactModal($event)">
                Contact Us
            </md-button>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <p class="text-center whiteText">Copyright: 2017</p>
    </div>
</footer>