<div id="bannersCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-ng-init="GetBanners()">
    <ol class="carousel-indicators">
        <li data-target="#bannersCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#bannersCarousel" data-slide-to="1"></li>
        <li data-target="#bannersCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" data-ng-class="{'active': banner.index_banner == 1}" data-ng-repeat="banner in banners">
            <img src="{{banner.img_src}}" alt="{{banner.img_alt}}" class="img-responsive carouselZoom">
            <div class="carousel-caption">
                <h1>{{banner.caption_title}}</h1>
                <p>{{banner.caption_description}}</p>
            </div>
        </div>
    </div>
</div>
<section id="aboutUs">
    <div class="container">
        <header>
            <h1 class="text-center"><span class="dottedBorder blackText">{{aboutUs.title}}</span></h1>
            <hr>
        </header>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="text-left">{{aboutUs.subTitle}}</h2>
                <p class="text-justify">{{aboutUs.content}}</p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 hidden-xs">
                <img src="{{aboutUs.imgSrc}}" alt="{{aboutUs.imgAlt}}" class="img-responsive">
            </div>
        </div>
    </div>
<div class="aboutUsBackground hidden-xs"></div>
</section>
<section id="onlineStore">
    <div class="container">
        <header>
            <h1 class="text-center"><span class="dottedBorder blackText">{{onlineStore.title}}</span></h1>
            <hr>
        </header>
        <div class="row" data-ng-init="GetProducts()">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 col-xs-offset-1 productMargin" data-ng-repeat="product in products">
                <div class="ih-item circle effect13 from_left_and_right">
                    <a href="javascript:void(0)" data-ng-click="ShowProductDetails(product.product_id)">
                        <div class="img">
                                <img src="{{product.img_src}}" alt="{{product.img_alt}}" class="img-responsive">
                        </div>
                        <div class="info">
                            <div class="info-back">
                                <h3>{{product.product_name}}</h3>
                                <p>Ver Detalles</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="courses" style="background-image: url({{courses.backgroundUrl}});">
    <div class="container">
        <header>
            <h1 class="text-center"><span class="dottedBorder orangeText">{{courses.title}}</span></h1>
        </header>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <p class="text-center whiteText">{{courses.content}}</p>
                <div class="text-center">
                    <md-button class="md-raised md-primary md-primary-lg">
                        Schedule
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contacts" style="background-image: url({{contacts.imgSrc}});">
    <div class="row">
        <div class="contactsMargin">
            <h1 class="text-left"><span class="dottedBorder orangeText">{{contacts.title}}</span></h1>
            <md-button class="md-raised md-primary md-primary-lg" data-ng-click="OpenContactModal($event)">
                Contact Us
            </md-button>
        </div>
    </div>
</section>