@import "variables.less";

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    #body-content
    {
        display: none;
        opacity: 1;
        animation: animateOpacity 1s ease;
    }
    .smooth-enter
    {
        animation: animateOpacity 1s ease;
        opacity: 1;
    }
    .overlay
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(64, 64, 64, 0.76);
        z-index: 20;
        md-progress-circular
        {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -25px 0 0 -25px;
        }
        p
        {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin: auto;
            width: 50%;
            height: 20%;
            text-align: center;
            border-radius: 5px;
            color: white;
        }
        md-progress-circular.md-default-theme path, md-progress-circular path
        {
            stroke: @primaryDetailsColor;
        }
    }
    #loader
    {
        display: block;
        width: 100vw;
        height: 100vh;
        svg
        {
            display: block;
            font: 10.5em 'Montserrat';
            width: 960px;
            height: 300px;
            margin: 0 auto;
        }
        .text-copy
        {
            fill: none;
            stroke: white;
            stroke-dasharray: 6% 29%;
            stroke-width: 5px;
            stroke-dashoffset: 0%;
            animation: stroke-offset 5.5s infinite linear;
        }
        .text-copy:nth-child(1)
        {
            stroke: #f55d14;
            animation-delay: -1;
        }
        .text-copy:nth-child(2)
        {
            stroke: black;
            animation-delay: -2s;
        }
        .text-copy:nth-child(3)
        {
            stroke: #f55d14;
            animation-delay: -3s;
        }
        .text-copy:nth-child(4)
        {
            stroke: black;
            animation-delay: -4s;
        }
        .text-copy:nth-child(5)
        {
            stroke: #f55d14;
            animation-delay: -5s;
        }
        @keyframes stroke-offset
        {
            100% {stroke-dashoffset: -35%;}
        }
    }
    .body
    {
        background: white;
    }

    .blackText
    {
        color: @blackText;
    }
    .orangeText
    {
        color: @primaryDetailsColor;
    }
    .whiteText
    {
        color: @whiteText;
    }
    .row
    {
        margin-right: 0;
        margin-left: 0;
    }
    .noMargin
    {
        margin: 0 !important;
    }
    .iconsMargin
    {
        margin-top: 2%;
        .row
        {
            position: relative;
            right: -20%;
            width: 100%;
        }
    }
    .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised
    {
        background-color: @primaryDetailsColor !important;
    }
    .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised:hover
    {
        background-color: @primaryDetailsColorHover !important;
    }
    .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled]
    {
        opacity: .5;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
    {
        padding-right: 0;
        padding-left: 0;
    }
    .input-group-addon
    {
        background: rgba(0, 0, 0, 0.79);
        background: -webkit-linear-gradient(#000000, #464646);
        background: -o-linear-gradient(#000000, #464646);
        background: -moz-linear-gradient(#000000, #464646);
        background: linear-gradient(#000000, #464646);
        color: #fd681d;
    }
    .md-primary-lg
    {
        width: 50%;
        margin-top: 10%;
        text-transform: capitalize;
    }
    .HeaderController
    {
        .sticky
        {
            z-index: 101;
        }
        .logo
        {
            width: 40%;
            margin: auto;
            -o-transition: all .5s;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        .logo:hover
        {
            -webkit-filter: brightness(150%);
            -ms-filter: brightness(150%);
            filter: brightness(150%);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        .iconSeparator
        {
            border-right: 1px solid black;
        }
        .md-button.md-icon-button
        {
            margin-left: -30px;
            height: 100%;
            min-width: 0;
            line-height: 24px;
            width: 22%;
            border-radius: 50%;
            -webkit-filter: brightness(50%);
            -ms-filter: brightness(50%);
            filter: brightness(50%);
            -o-transition: all .5s;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        .md-button.md-icon-button:hover
        {
            -webkit-filter: brightness(100%);
            -ms-filter: brightness(100%);
            filter: brightness(100%);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        .md-button.md-default-theme.md-accent, .md-button.md-accent
        {
            color: @primaryDetailsColor;
            width: 100%;
        }
        md-nav-bar.md-default-theme .md-nav-bar, md-nav-bar .md-nav-bar
        {
            border: none;
        }

        md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar
        {
            color: @primaryDetailsColor;
            background: @primaryDetailsColor;
        }
        md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected
        {
            color: @whiteText;
            -o-transition: all .5s;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected:hover
        {
            color: @primaryDetailsColor;
        }
        md-nav-ink-bar
        {
            bottom:10px !important;
        }
        md-content.md-default-theme, md-content
        {
            background: black; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Firefox 3.6 to 15 */
            background: linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* Standard syntax (must be last) */
        }
        .md-padding
        {
            padding: 0px;
            overflow: hidden;
            -o-transition: all .5s;
            -moz-transition: all .5s;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        span
        {
            text-transform: capitalize;
        }
    }
    .carousel-indicators
    {
        li
        {
            background-color: gray;
            border: 1px solid gray;
        }
        .active
        {
            background-color: black;
            border-color: black;
        }
    }
    .carouselZoom
    {
        -webkit-animation: carouselZoomAnimation 15s linear infinite alternate;
        -o-animation:  carouselZoomAnimation 15s linear infinite alternate;
        -moz-animation:  carouselZoomAnimation 15s linear infinite alternate;
        animation: carouselZoomAnimation 15s linear infinite alternate;
    }
    @-webkit-keyframes carouselZoomAnimation
    {
        0%   {transform:scale(1)}
        25%  {transform:scale(1.1)}
        50%  {transform:scale(1.2)}
        75%  {transform:scale(1.3)}
        100% {transform:scale(1.4)}
    }
    @-o-keyframes carouselZoomAnimation
    {
        0%   {transform:scale(1)}
        25%  {transform:scale(1.1)}
        50%  {transform:scale(1.2)}
        75%  {transform:scale(1.3)}
        100% {transform:scale(1.4)}
    }
    @-moz-keyframes carouselZoomAnimation
    {
        0%   {transform:scale(1)}
        25%  {transform:scale(1.1)}
        50%  {transform:scale(1.2)}
        75%  {transform:scale(1.3)}
        100% {transform:scale(1.4)}
    }
    @keyframes carouselZoomAnimation
    {
        0%   {transform:scale(1)}
        25%  {transform:scale(1.1)}
        50%  {transform:scale(1.2)}
        75%  {transform:scale(1.3)}
        100% {transform:scale(1.4)}
    }
    .item
    {
        position: relative;
    }
    .carousel-caption
    {
        border: 2px solid white;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
        height: 30%;
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
        -o-transition: all .5s;
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
        -webkit-animation: animateOpacity 1s ease-in-out;
        -o-animation:  animateOpacity 1s ease-in-out;
        -moz-animation:  animateOpacity 1s ease-in-out;
        animation: animateOpacity 1s ease-in-out;
        h1
        {
            position: relative;
            opacity: 1;
            font-size: 46px;
            margin-top: 0px;
            margin-bottom: 30px;
            -webkit-animation: animateOpacity 1s ease-in-out;
            -o-animation:  animateOpacity 1s ease-in-out;
            -moz-animation:  animateOpacity 1s ease-in-out;
            animation: animateOpacity 1s ease-in-out;
        }
        p
        {
            position: relative;
            opacity: 1;
            -webkit-animation: animateOpacity 1s ease-in-out;
            -o-animation:  animateOpacity 1s ease-in-out;
            -moz-animation:  animateOpacity 1s ease-in-out;
            animation: animateOpacity 1s ease-in-out;
        }
    }
    @-webkit-keyframes animateOpacity
    {
        from {opacity: 0}
        to {opacity: 1}
    }
    @-o-keyframes animateOpacity
    {
        from {opacity: 0}
        to {opacity: 1}
    }
    @-moz-keyframes animateOpacity
    {
        from {opacity: 0}
        to {opacity: 1}
    }
    @keyframes animateOpacity
    {
        from {opacity: 0}
        to {opacity: 1}
    }
    .carousel-caption:hover
    {
        background: rgba(0,0,0,.4);
        color: @primaryDetailsColor;
        border-color: @primaryDetailsColor;
    }
    .dottedBorder
    {
        border-bottom: 1px dashed @lightDetailsColor;
    }
    hr
    {
        border-top: 1px solid @primaryDetailsColor;
    }
    #aboutUs
    {
        color: @blackText;
        .col-lg-4
        {
            margin-top: 10%;
            margin-bottom: 3%;
        }
        img
        {
            position: absolute;
            left: -25%;
        }
        .aboutUsBackground
        {
            width: 100%;
            height: 350px;
            background: black; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Firefox 3.6 to 15 */
            background: linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* Standard syntax (must be last) */
        }
    }
    #onlineStore
    {
        .productMargin
        {
            margin-top: 5%;
        }
        .ih-item.circle
        {
            width: 180px;
            height: 180px;
            .img
            {
                width: 180px;
                height: 180px;
            }
            h3
            {
                padding: 45px 0 0 0;
                height: 100px;
            }
            p
            {
                color: white;
            }
        }
    }
    #courses
    {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 5%;
        h1
        {
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }
    #contacts
    {
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        background-position: 0px 100px;
        .row
        {
            height: 100%;
            position: relative;
        }
        .contactsMargin
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 50%;
            height: 30%;
            margin: auto;
            margin-left: 50%;
        }
        button
        {
            position: relative;
            left: -15%;
        }
    }
    footer
    {
        background: black; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgb(0,0,0), rgb(70,70,70)); /* Standard syntax (must be last) */
        padding: 5%;
    }
    .HalfWidthModal
    {
        width: 50%;
        md-toolbar
        {
            color: @whiteText;
            background-color: @primaryDetailsColorHover;
            i
            {
                position: absolute;
                top: 5%;
                right: 5%;
            }
        }
        md-input-container:not(.md-input-invalid).md-input-focused .md-input
        {
            border-color: @lightDetailsColor !important;
        }
        md-input-container:not(.md-input-invalid).md-input-focused label
        {
            color: @lightDetailsColor !important;
        }
    }
    #product
    {
        p.text-center
        {
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        img
        {
            width: 70%;
            margin: auto;
        }
        md-card
        {
            background-color: rgb(245, 245, 245);
            h2, h3
            {
                color: @primaryDetailsColor;
            }
            md-icon
            {
                color: @primaryDetailsColorOpacity;
                -o-transition: all .5s;
                -moz-transition: all .5s;
                -webkit-transition: all .5s;
                transition: all .5s;
            }
            md-icon:hover
            {
                color: @primaryDetailsColor;
                cursor: pointer;
            }
            .md-button
            {
                width: 80%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                md-icon
                {
                    color: @whiteText;
                }
            }
            md-input-container:not(.md-input-invalid).md-input-focused .md-input
            {
                border-color: @lightDetailsColor !important;
            }
            md-input-container:not(.md-input-invalid).md-input-focused label
            {
                color: @lightDetailsColor !important;
            }
        }
    }
    md-backdrop.md-opaque
    {
        opacity: .9;
        background-color: black;
    }
    #register
    {
        .wizard
        {
            margin: 20px auto;
            background: #fff;
            .nav-tabs
            {
                position: relative;
                margin: 40px auto;
                margin-bottom: 0;
                border-bottom-color: #e0e0e0;
            }
            div.wizard-inner
            {
                position: relative;
            }
        }
        li
        {
            a:hover
            {
                cursor: default !important;
            }
        }

        .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 70%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: pointer;
            border: 0;
            border-bottom-color: transparent;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #fff;
            border: 2px solid #e0e0e0;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
        }
        span.round-tab i{
            color:#555555;
        }
        .wizard li.active span.round-tab {
            background: #fff;
            border: 2px solid #ff702b;

        }
        .wizard li.active span.round-tab i{
            color: #ff702b;
        }

        span.round-tab:hover {
            color: #333;
            border: 2px solid #333;
        }

        .wizard .nav-tabs > li {
            width: 33%;
        }

        .wizard li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #ff702b;
            transition: 0.1s ease-in-out;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 1;
            margin: 0 auto;
            bottom: 0px;
            border: 10px solid transparent;
            border-bottom-color: #ff702b;
        }

        .wizard .nav-tabs > li a {
            width: 70px;
            height: 70px;
            margin: 20px auto;
            border-radius: 100%;
            padding: 0;
        }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

        .wizard .tab-pane {
            position: relative;
            padding-top: 50px;
        }

        .wizard h3 {
            margin-top: 0;
        }
        .step1 .row {
            margin-bottom:10px;
        }
        .step_21 {
            border :1px solid #eee;
            border-radius:5px;
            padding:10px;
        }
        .step33 {
            border:1px solid #ccc;
            border-radius:5px;
            padding-left:10px;
            margin-bottom:10px;
        }
        .dropselectsec {
            width: 68%;
            padding: 6px 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
            margin-left: 10px;
            outline: none;
            font-weight: normal;
        }
        .dropselectsec1 {
            width: 74%;
            padding: 6px 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
            margin-left: 10px;
            outline: none;
            font-weight: normal;
        }
        .mar_ned {
            margin-bottom:10px;
        }
        .wdth {
            width:25%;
        }
        .birthdrop {
            padding: 6px 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            color: #333;
            margin-left: 10px;
            width: 16%;
            outline: 0;
            font-weight: normal;
        }


        /* according menu */
        #accordion-container {
            font-size:13px
        }
        .accordion-header {
            font-size:13px;
            background:#ebebeb;
            margin:5px 0 0;
            padding:7px 20px;
            cursor:pointer;
            color:#fff;
            font-weight:400;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px
        }
        .unselect_img{
            width:18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .active-header {
            -moz-border-radius:5px 5px 0 0;
            -webkit-border-radius:5px 5px 0 0;
            border-radius:5px 5px 0 0;
            background:#F53B27;
        }
        .active-header:after {
            content:"\f068";
            font-family:'FontAwesome';
            float:right;
            margin:5px;
            font-weight:400
        }
        .inactive-header {
            background:#333;
        }
        .inactive-header:after {
            content:"\f067";
            font-family:'FontAwesome';
            float:right;
            margin:4px 5px;
            font-weight:400
        }
        .accordion-content {
            display:none;
            padding:20px;
            background:#fff;
            border:1px solid #ccc;
            border-top:0;
            -moz-border-radius:0 0 5px 5px;
            -webkit-border-radius:0 0 5px 5px;
            border-radius:0 0 5px 5px
        }
        .accordion-content a{
            text-decoration:none;
            color:#333;
        }
        .accordion-content td{
            border-bottom:1px solid #dcdcdc;
        }



        @media( max-width : 585px ) {

            .wizard {
                width: 90%;
                height: auto !important;
            }

            span.round-tab {
                font-size: 16px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard .nav-tabs > li a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }

            .wizard li.active:after {
                content: " ";
                position: absolute;
                left: 35%;
            }
        }
    }
    .tooltip
    {
        font-size: 14px;
    }
}
.overflowVisible
{
    overflow-x: visible;
}
/* PANTALLAS DE ESCRITORIO MEDIANAS*/
@media only screen and (min-device-width: 1152px) and (max-device-width: 1300px)
{
    .HeaderController
    {
        .blackText
        {
            color: @blackText;
            font-size: 13px;
        }
    }
    .carousel-caption
    {
        h1
        {
            font-size: 38px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
}
/* PANTALLAS DE ESCRITORIO MEDIANAS*/