<md-dialog aria-label="Contact Forms" class="HalfWidthModal">
    <form novalidate name="contactForm" data-ng-submit="SubmitContact()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Contact Us</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="cancel()">
                        <md-icon aria-label="Close dialog"><i class="fa fa-times fa-2x" aria-hidden="true"></i></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-input-container class="md-block">
                        <label>Name</label>
                        <input type="text" data-ng-pattern ="/^[a-zA-Z\s]*$/" required name="name" data-ng-model="contact.name">
                        <div data-ng-messages="contactForm.name.$error">
                            <div data-ng-message="required">This field is required.</div>
                            <div data-ng-message="pattern">You must enter only letters in this field.</div>
                        </div>
                    </md-input-container> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-input-container class="md-block">
                        <label>Lastname</label>
                        <input type="text" data-ng-pattern ="/^[a-zA-Z\s]*$/" required name="lastname" data-ng-model="contact.lastname">
                        <div data-ng-messages="contactForm.lastname.$error">
                            <div data-ng-message="required">This field is required.</div>
                            <div data-ng-message="pattern">You must enter only letters in this field.</div>
                        </div>
                    </md-input-container> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="email" data-ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required name="email" data-ng-model="contact.email">
                        <div data-ng-messages="contactForm.email.$error">
                            <div data-ng-message="required">This field is required.</div>
                            <div data-ng-message="pattern">You must enter a valid email.</div>
                        </div>
                    </md-input-container> 
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-input-container class="md-block">
                        <label>Question</label>
                        <input type="text" required name="question" data-ng-model="contact.question">
                        <div data-ng-messages="contactForm.question.$error">
                            <div data-ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container> 
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" data-ng-disabled="!contactForm.$valid">
                Send
            </md-button>
            <md-button data-ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>