body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body #body-content {
  display: none;
  opacity: 1;
  animation: animateOpacity 1s ease;
}
body .smooth-enter {
  animation: animateOpacity 1s ease;
  opacity: 1;
}
body .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(64, 64, 64, 0.76);
  z-index: 20;
}
body .overlay md-progress-circular {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
body .overlay p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 20%;
  text-align: center;
  border-radius: 5px;
  color: white;
}
body .overlay md-progress-circular.md-default-theme path,
body .overlay md-progress-circular path {
  stroke: #ff702b;
}
body #loader {
  display: block;
  width: 100vw;
  height: 100vh;
}
body #loader svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 960px;
  height: 300px;
  margin: 0 auto;
}
body #loader .text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}
body #loader .text-copy:nth-child(1) {
  stroke: #f55d14;
  animation-delay: -1;
}
body #loader .text-copy:nth-child(2) {
  stroke: black;
  animation-delay: -2s;
}
body #loader .text-copy:nth-child(3) {
  stroke: #f55d14;
  animation-delay: -3s;
}
body #loader .text-copy:nth-child(4) {
  stroke: black;
  animation-delay: -4s;
}
body #loader .text-copy:nth-child(5) {
  stroke: #f55d14;
  animation-delay: -5s;
}
@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
body .body {
  background: white;
}
body .blackText {
  color: #000000;
}
body .orangeText {
  color: #ff702b;
}
body .whiteText {
  color: #ffffff;
}
body .row {
  margin-right: 0;
  margin-left: 0;
}
body .noMargin {
  margin: 0 !important;
}
body .iconsMargin {
  margin-top: 2%;
}
body .iconsMargin .row {
  position: relative;
  right: -20%;
  width: 100%;
}
body p {
  font-size: 16px;
  text-align: justify;
}
body .md-button.md-default-theme.md-primary.md-fab,
body .md-button.md-primary.md-fab,
body .md-button.md-default-theme.md-primary.md-raised,
body .md-button.md-primary.md-raised {
  background-color: #ff702b !important;
}
body .md-button.md-default-theme.md-primary.md-fab,
body .md-button.md-primary.md-fab,
body .md-button.md-default-theme.md-primary.md-raised,
body .md-button.md-primary.md-raised:hover {
  background-color: #fd5c11 !important;
}
body .md-button.md-default-theme.md-fab[disabled],
body .md-button.md-fab[disabled],
body .md-button.md-default-theme.md-raised[disabled],
body .md-button.md-raised[disabled] {
  opacity: .5;
}
body .col-lg-1,
body .col-lg-10,
body .col-lg-11,
body .col-lg-12,
body .col-lg-2,
body .col-lg-3,
body .col-lg-4,
body .col-lg-5,
body .col-lg-6,
body .col-lg-7,
body .col-lg-8,
body .col-lg-9,
body .col-md-1,
body .col-md-10,
body .col-md-11,
body .col-md-12,
body .col-md-2,
body .col-md-3,
body .col-md-4,
body .col-md-5,
body .col-md-6,
body .col-md-7,
body .col-md-8,
body .col-md-9,
body .col-sm-1,
body .col-sm-10,
body .col-sm-11,
body .col-sm-12,
body .col-sm-2,
body .col-sm-3,
body .col-sm-4,
body .col-sm-5,
body .col-sm-6,
body .col-sm-7,
body .col-sm-8,
body .col-sm-9,
body .col-xs-1,
body .col-xs-10,
body .col-xs-11,
body .col-xs-12,
body .col-xs-2,
body .col-xs-3,
body .col-xs-4,
body .col-xs-5,
body .col-xs-6,
body .col-xs-7,
body .col-xs-8,
body .col-xs-9 {
  padding-right: 0;
  padding-left: 0;
}
body .input-group-addon {
  background: rgba(0, 0, 0, 0.79);
  background: -webkit-linear-gradient(#000000, #464646);
  background: -o-linear-gradient(#000000, #464646);
  background: -moz-linear-gradient(#000000, #464646);
  background: linear-gradient(#000000, #464646);
  color: #fd681d;
}
body .md-primary-lg {
  width: 50%;
  margin-top: 10%;
  text-transform: capitalize;
}
body .HeaderController .sticky {
  z-index: 101;
}
body .HeaderController .logo {
  width: 40%;
  margin: auto;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
body .HeaderController .logo:hover {
  -webkit-filter: brightness(150%);
  -ms-filter: brightness(150%);
  filter: brightness(150%);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
body .HeaderController .iconSeparator {
  border-right: 1px solid black;
}
body .HeaderController .md-button.md-icon-button {
  margin-left: -30px;
  height: 100%;
  min-width: 0;
  line-height: 24px;
  width: 22%;
  border-radius: 50%;
  -webkit-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 30px;
  color: #d3d3d3;
}
body .HeaderController .md-button.md-icon-button:hover {
  -webkit-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
body .HeaderController .md-button.md-icon-button i {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
body .HeaderController .facebook:hover i {
  color: #3b5998;
}
body .HeaderController .twitter:hover i {
  color: #00aced;
}
body .HeaderController .instagram:hover i {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 3%;
}
body .HeaderController .md-button.md-default-theme.md-accent,
body .HeaderController .md-button.md-accent {
  color: #ff702b;
  width: 100%;
}
body .HeaderController md-nav-bar.md-default-theme .md-nav-bar,
body .HeaderController md-nav-bar .md-nav-bar {
  border: none;
}
body .HeaderController md-nav-bar.md-default-theme md-nav-ink-bar,
body .HeaderController md-nav-bar md-nav-ink-bar {
  color: #ff702b;
  background: #ff702b;
}
body .HeaderController md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected,
body .HeaderController md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #676767;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
body .HeaderController md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected,
body .HeaderController md-nav-bar .md-button._md-nav-button.md-unselected:hover {
  color: #ff702b;
}
body .HeaderController md-nav-ink-bar {
  bottom: 10px !important;
}
body .HeaderController md-content.md-default-theme,
body .HeaderController md-content {
  background: transparent;
}
body .HeaderController .md-padding {
  padding: 0px;
  overflow: hidden;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
body .HeaderController span {
  text-transform: capitalize;
}
body .carousel-indicators li {
  background-color: gray;
  border: 1px solid gray;
}
body .carousel-indicators .active {
  background-color: black;
  border-color: black;
}
body .carouselZoom {
  -webkit-animation: carouselZoomAnimation 15s linear infinite alternate;
  -o-animation: carouselZoomAnimation 15s linear infinite alternate;
  -moz-animation: carouselZoomAnimation 15s linear infinite alternate;
  animation: carouselZoomAnimation 15s linear infinite alternate;
}
@-webkit-keyframes carouselZoomAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.4);
  }
}
@-o-keyframes carouselZoomAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.4);
  }
}
@-moz-keyframes carouselZoomAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.4);
  }
}
@keyframes carouselZoomAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.4);
  }
}
body .item {
  position: relative;
}
body .carousel-caption {
  border: 2px solid white;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation: animateOpacity 1s ease-in-out;
  -o-animation: animateOpacity 1s ease-in-out;
  -moz-animation: animateOpacity 1s ease-in-out;
  animation: animateOpacity 1s ease-in-out;
}
body .carousel-caption h1 {
  position: relative;
  opacity: 1;
  font-size: 46px;
  margin-top: 0px;
  margin-bottom: 30px;
  -webkit-animation: animateOpacity 1s ease-in-out;
  -o-animation: animateOpacity 1s ease-in-out;
  -moz-animation: animateOpacity 1s ease-in-out;
  animation: animateOpacity 1s ease-in-out;
}
body .carousel-caption p {
  position: relative;
  opacity: 1;
  -webkit-animation: animateOpacity 1s ease-in-out;
  -o-animation: animateOpacity 1s ease-in-out;
  -moz-animation: animateOpacity 1s ease-in-out;
  animation: animateOpacity 1s ease-in-out;
}
@-webkit-keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .carousel-caption:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #ff702b;
  border-color: #ff702b;
}
body .dottedBorder {
  border-bottom: 1px dashed #ffa500;
}
body hr {
  border-top: 1px solid #ff702b;
}
body #aboutUs {
  color: #000000;
}
body #aboutUs .col-lg-4 {
  margin-bottom: 3%;
}
body #aboutUs img {
  position: absolute;
  left: -25%;
}
body #aboutUs .aboutUsBackground {
  width: 100%;
  height: 350px;
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000000, #464646);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000000, #464646);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #464646);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #464646);
  /* Standard syntax (must be last) */
}
body #onlineStore .featured {
  border-bottom: 1px solid rgba(255, 112, 43, 0.5);
  padding-bottom: 5%;
  margin-bottom: 5%;
}
body #onlineStore .featured .productMargin {
  margin-top: 1%;
}
body #onlineStore .featured .orangeText {
  text-transform: uppercase;
  font-size: 13px;
}
body #onlineStore .categoriesButtons {
  width: 100%;
  text-align: center;
}
body #onlineStore .categoriesButtons .md-raised {
  color: white !important;
}
body #onlineStore .categoriesButtons .categoryButton {
  background-color: transparent;
  border: 1px solid #dc6126;
  color: black;
  text-transform: capitalize;
  transition: all .5s;
}
body #onlineStore .categoriesButtons .categoryButton:hover {
  background-color: #ff702b;
  color: white;
}
body #onlineStore .productMargin {
  margin-top: 5%;
}
body #onlineStore .ih-item.circle {
  width: 180px;
  height: 180px;
}
body #onlineStore .ih-item.circle .img {
  width: 180px;
  height: 180px;
}
body #onlineStore .ih-item.circle h3 {
  padding: 45px 0 0 0;
  height: 100px;
}
body #onlineStore .ih-item.circle p {
  color: white;
}
body #courses {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 5%;
}
body #courses h1 {
  margin-top: 10%;
  margin-bottom: 10%;
}
body #contacts {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background-position: 0px 100px;
}
body #contacts .row {
  height: 100%;
  position: relative;
}
body #contacts .contactsMargin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
  margin-left: 50%;
}
body #contacts button {
  position: relative;
  left: -15%;
}
body footer {
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000000, #464646);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000000, #464646);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000000, #464646);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000000, #464646);
  /* Standard syntax (must be last) */
  padding: 5%;
}
body footer li {
  display: inline-block;
  padding: 1%;
}
body footer li .orangeText {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
body footer li .orangeText:hover {
  color: orangered;
  text-decoration: none;
}
body .HalfWidthModal {
  width: 50%;
}
body .HalfWidthModal md-toolbar {
  color: #ffffff;
  background-color: #fd5c11;
}
body .HalfWidthModal md-toolbar i {
  position: absolute;
  top: 5%;
  right: 5%;
}
body .HalfWidthModal md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #ffa500 !important;
}
body .HalfWidthModal md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #ffa500 !important;
}
body #product p.text-center {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body #product img {
  width: 70%;
  margin: auto;
}
body #product md-card {
  background-color: #f5f5f5;
}
body #product md-card h2,
body #product md-card h3 {
  color: #ff702b;
}
body #product md-card md-icon {
  color: rgba(255, 112, 43, 0.4);
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}
body #product md-card md-icon:hover {
  color: #ff702b;
  cursor: pointer;
}
body #product md-card .md-button {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body #product md-card .md-button md-icon {
  color: #ffffff;
}
body #product md-card md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #ffa500 !important;
}
body #product md-card md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #ffa500 !important;
}
body md-backdrop.md-opaque {
  opacity: .9;
  background-color: black;
}
body #register {
  /* according menu */
}
body #register .wizard {
  margin: 20px auto;
  background: #fff;
}
body #register .wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}
body #register .wizard div.wizard-inner {
  position: relative;
}
body #register li a:hover {
  cursor: default !important;
}
body #register .connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 70%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
body #register .wizard .nav-tabs > li.active > a,
body #register .wizard .nav-tabs > li.active > a:hover,
body #register .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: pointer;
  border: 0;
  border-bottom-color: transparent;
}
body #register span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
body #register span.round-tab i {
  color: #555555;
}
body #register .wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #ff702b;
}
body #register .wizard li.active span.round-tab i {
  color: #ff702b;
}
body #register span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
body #register .wizard .nav-tabs > li {
  width: 33%;
}
body #register .wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ff702b;
  transition: 0.1s ease-in-out;
}
body #register .wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #ff702b;
}
body #register .wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
body #register .wizard .nav-tabs > li a:hover {
  background: transparent;
}
body #register .wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}
body #register .wizard h3 {
  margin-top: 0;
}
body #register .step1 .row {
  margin-bottom: 10px;
}
body #register .step_21 {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}
body #register .step33 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}
body #register .dropselectsec {
  width: 68%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}
body #register .dropselectsec1 {
  width: 74%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}
body #register .mar_ned {
  margin-bottom: 10px;
}
body #register .wdth {
  width: 25%;
}
body #register .birthdrop {
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  width: 16%;
  outline: 0;
  font-weight: normal;
}
body #register #accordion-container {
  font-size: 13px;
}
body #register .accordion-header {
  font-size: 13px;
  background: #ebebeb;
  margin: 5px 0 0;
  padding: 7px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
body #register .unselect_img {
  width: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body #register .active-header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #F53B27;
}
body #register .active-header:after {
  content: "\f068";
  font-family: 'FontAwesome';
  float: right;
  margin: 5px;
  font-weight: 400;
}
body #register .inactive-header {
  background: #333;
}
body #register .inactive-header:after {
  content: "\f067";
  font-family: 'FontAwesome';
  float: right;
  margin: 4px 5px;
  font-weight: 400;
}
body #register .accordion-content {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
body #register .accordion-content a {
  text-decoration: none;
  color: #333;
}
body #register .accordion-content td {
  border-bottom: 1px solid #dcdcdc;
}
@media (max-width: 585px) {
  body #register .wizard {
    width: 90%;
    height: auto !important;
  }
  body #register span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  body #register .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  body #register .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
body .tooltip {
  font-size: 14px;
}
.overflowVisible {
  overflow-x: visible;
}
/* PANTALLAS DE ESCRITORIO MEDIANAS*/
@media only screen and (min-device-width: 1152px) and (max-device-width: 1300px) {
  .HeaderController .blackText {
    color: #000000;
    font-size: 13px;
  }
  .carousel-caption h1 {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
/* PANTALLAS DE ESCRITORIO MEDIANAS*/
